// Color Scheme

// First Color Scheme
$white: #FFF;
$platinum: #E6E7E7;
$lightgray: #D1D1D1;
// Second Color Scheme
$fuzzy-wuzzy: #E56353;
$ruddy-pink: #D76C69;
$spanish-pink: #ECBCBA;
//Third Color Scheme
$eerie-black: #121619;
$raisin-black: #5D6163;
$nickel: #6C6E70;

//Font Family
$playfair: 'playfair display', serif;
$roboto: 'Roboto', sans-serif;

// Typography

// Font Weight
$regular: 400;
$sbold: 900;
$light-fw: 300;

// Font Sizes
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;